.btn.btn {
  &-primary {
    background: linear-gradient($salt-box, $east-bay);
  }
  &-warning {
    background: linear-gradient(45deg, $tangerine 0%, $casablanca 100%);
  }
  &-success {
    background: linear-gradient($turquoise-blue, $lavender-purple);
    &:hover, &:active, &:focus {
      color: $white !important;
    }
  }
}

.btn-normal {
  min-width: 145px;
}
