<nav class="navbar navbar-expand-xl">
    <div class="container position-relative">
        <div class="position-absolute d-none d-md-block left-200 top-n20">
            <img src="assets/images/leaves.svg" alt="leaves">
        </div>
        <div class="position-absolute d-block d-md-none left-130 top-n20">
            <img class="width-180" src="assets/images/leaves.svg" alt="leaves">
        </div>
        <a class="navbar-brand" routerLink="/"><img src="assets/images/logo.png" alt="Bitkong"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar" >
            <img src="assets/images/icons/menu.svg" alt="menu">
        </button>

        <div class="collapse navbar-collapse" id="mainNavbar">
            <div class="d-flex d-xl-none justify-content-between pt-20 pb-30">
                <a class="navbar-brand"><img src="assets/images/logo.png" alt="Bitkong"></a>
                <button class="navbar-toggler bg-transparent" type="button" data-toggle="collapse" data-target="#mainNavbar" >
                    <img src="assets/images/icons/close.svg" alt="close">
                </button>
            </div>
        </div>
    </div>
</nav>
