<div class="bg-primary p-10 border-top-left-radius-15 border-top-right-radius-15" [ngClass]="selfClass">
  <div class="d-flex align-items-center">
    <div class="prize mr-20">
      <img src="assets/images/icons/prize.png" alt="prize">
    </div>
    <span class="font-17 text-warning font-weight-bold user-select-none">HALL OF HEROS</span>
  </div>
  <div class="d-flex">
    <ng-select class="select-period" [(ngModel)]="currentPeriodType" (change)="periodChange($event)" [multiple]="false" [searchable]="false" [clearable]="false">
      <ng-option *ngFor="let type of heroHallPeriodTypes" [value]="type.value">{{ type.label }}</ng-option>
    </ng-select>
  </div>
</div>
<bitkong-table [columns]="heroHallColumns" [rows]="heroLog"></bitkong-table>
