@import "../../../assets/theme";

:host {
  flex-grow: 1;
}

section {
  background: linear-gradient(147deg, $rhino, $thunder);

  .tree-2, .moon {
    img {
      opacity: .7;
    }
  }
}

button {
  &:hover:enabled, &:focus:enabled {
    outline: 0;
    box-shadow: unset;
  }
}

.main {
  .ticket {
    background-image: linear-gradient(#BD807D,#E5B794);

    .close-img {
      top: -1px;
      right: -1px;
    }

    .step {
      margin: 0 -2.5px;
      .col-4 {
        padding: 0 2.5px;
      }
      .col-6 {
        padding: 0 2.5px;
      }
      .btn-betting {
        background: $manhattan;
        border: 0;
        &:hover:enabled, &:focus:enabled {
          border: solid 2px $old-rose;
          outline: 0;
        }
      }
      .arrow {
        position: absolute;
        color: $manhattan;
        font-size: 12px;
        top: 9px;
      }

      .arrow-prev {
        text-align: left;
        animation: moving-arrow-left 1s ease-in-out infinite;

        &:before {
          content: ">";
          font-weight: bold;
          font-size: 15px;
        }
      }

      .arrow-next {
        text-align: right;
        animation: moving-arrow-right 1s ease-in-out infinite;

        &:before {
          content: "<";
          font-weight: bold;
          font-size: 15px;
        }
      }
      @keyframes moving-arrow-left { 0%,100% { left: -37px; right: 0 } 50% { left: -31px; right: 0 } }
      @keyframes moving-arrow-right { 0%,100% { right: -37px; left: 0 } 50% { right: -31px; left: 0 } }
    }
  }

  .game-level {
    border: 0px;
    &.active {
      img {
        opacity: 1;
      }
      span {
        opacity: 1;
      }
      border-bottom: solid 3px $pastel-green !important;
    }

    img {
      opacity: .5;
    }
    span {
      opacity: .5;
    }
  }

  .verify-ticket {
    &:hover, &:active, &:focus {
      background: linear-gradient($salt-box, $east-bay);
    }
  }

  .btn-max-min {
    &.active {
      border: solid 2px $manhattan;
    }
  }

  .monkey-head {
    left: calc(50% - 52px);
  }

  .monkey-hand {
    left: calc(50% - 154px);
  }

  .monkey-body {
    z-index: -1;
    width: 90%;
    left: 5%;
  }
}

.confirm-ticket {
  opacity: 1;
  transition: all 0.7s ease;

  .current-ticket {
    border-radius: 10px 0 0 10px;
  }

  .next-ticket {
    border-radius: 0 10px 10px 0;
  }
}

.ticket-close {
  max-height: 0;
  opacity: 0
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  background: transparent;
  border: solid 1px $manhattan !important;
  outline: 0 !important;
  -moz-appearance: textfield;
  &:active, &:hover, &:focus {
    border: solid 1px $manhattan !important;
    outline: 0 !important;
  }
}

ng5-slider::ng-deep {
  .ng5-slider-limit {
    color: #BD807D !important;
  }
  .ng5-slider-bubble {
    color: #BD807D !important;
  }
  .ng5-slider-pointer {
    background: $manhattan;
    outline: 0;
    &:after {
      background: $charade;
    }
    &:active, &:focus, &:hover {
      &:after {
        background: $charade;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .current-ticket {
    border-radius: 10px 10px 0 0 !important;
  }

  .next-ticket {
    border-radius: 0 0 10px 10px !important;
  }
}
