@import "../../../assets/theme";

section {
  background: linear-gradient(147deg, $rhino, $salt-box);
}

.main {
  min-height: 500px;
}

:host ::ng-deep {
  .tabs {
    border-radius: 15px 15px 0 0;

    .tab-item {
      &.active {
        div {
          background: $smoky;
        }
      }

      div {
        border-radius: 5px;
      }
    }

    div {
      cursor: pointer;
    }
  }
}